{% extends "/bootstrap/baseCustomer.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard</h2>
{% for info in user%}
<h4>Hi {{info.name}},</h4><br>
{% endfor %}
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Subscription End Date</th>
            <th>Remaining</th>
            <th>Extend</th>
            <th>History</th>
        </tr>
    </thead>
    <tbody>    
        {% for items in data %}
        <tr>
          <td>{{items.productName}}</td>
          <td>{{items.subEnd}}</td>
          <td>{{items.remaining}} Days</td>
          <td><label class="btn" for="{{items.productName}}">Extend</label></td>
          {% for info in user%}
          <td><a href="/customer/{{info.userID}}/dashboard/{{items.prodID}}"> Details </a></td>
          {% endfor %}
        </tr>        
        {% endfor %}
    </tbody>
</table>
{% for items in product %}
    <input class="modal-state_cus" id="{{items.productName}}" type="checkbox" />
    <div class="modal_cus">
        <label class="modal__bg_cus" for="{{items.productName}}"></label>
        <div class="modal__inner_cus">
            <label class="modal__close_cus" for="{{items.productName}}"></label>
            <h2>{{items.productName}}</h2>
            <img src="/static/product/{{items.prodImg}}" class="demo_pic_big" /><br clear="all">
            <p>Description: {{items.prodDescr}}<br /> Price: $ {{items.prodPrice}} per day </p> <br>
            <div class="fill-in">
                {% for info in user %}
                <form action="/customer/{{info.userID}}/dashboard" method="post">
                {% endfor %} 
                    <input type="hidden" name="prodID" value={{items.prodID}}>
                    <label for="day">Days</label>
                    <input type="number" name="days" min="1" required /><br>
                    <input type="submit" value="Add to cart" />
                </form>
            </div>
        </div>
    </div>    
{% endfor %}        
{% endblock %}