{% extends "/bootstrap/baseCustomer.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard</h2>
<h4>Hi Testing 123,</h4><br>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Subscription End Date</th>
            <th>Remaining</th>
            <th>Extend</th>
        </tr>
    </thead>
    <tbody>    
        <tr>
            <td>Route System</td>
            <td>20 Jan 2023</td>
            <td>6 Days</td>
            <td><label class="btn" for="Route System">Extend</label></td>
        </tr>
    </tbody>
</table>
<input class="modal-state" id="Route System" type="checkbox" />
<div class="modal">
    <label class="modal__bg" for="Route System"></label>
    <div class="modal__inner">
        <label class="modal__close" for="Route System"></label>
        <h2>Route System</h2>
        <img src="{{url_for('static',filename='routeSystem.png')}}" class="demo_pic_big" /><br clear="all">
        <p>Description: <br /> Price: $1 per day </p> <br>
        <div class="fill-in">
            <form>
                <label for="day">Days</label>
                <input type="number" name="days" min="1" required /><br>
                <input type="submit" value="Add to cart" />
            </form>
        </div>
    </div>
</div>            
{% endblock %}