{% extends "/bootstrap/baseCustomer.html" %}
{% block title %}Subscription History{% endblock %}
{% block content %}
<h2>Subscription History</h2><br>
<table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product</th>
        <th>Period</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Confirm Date</th>
        <th>Price</th>
        <th>Upload Document</th>
      </tr>
    </thead>
    <tbody>
      {% for items in data %}
        <tr>
          <td>{{items.subHID}}</td>
          <td>{{items.productName}}</td>
          <td>{{items.subHDay}} Days</td>
          <td>{{items.subHstatus}}</td>
          <td>{{items.subHStart}}</td>
          <td>{{items.subHEnd}}</td>
          <td>{{items.confirmDate}}</td>
          <td>$ {{items.subAmount}}</td>
          <td><a href="/customer/{{items.userID}}/uploadDocument/{{items.payID}}"> Upload </a></td>
        </tr>        
      {% endfor %}
    </tbody>
</table>
{% endblock %}
