{% extends "/bootstrap/baseCustomer.html" %}
{% block title %}Upload Document{% endblock %}
{% block content %}
<h2>Upload Document</h2><br>
<h4>Orders:</h4>
<table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3</td>
        <td>Pending for Re-upload </td>
        <td>$5</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Pending for Approval</td>
        <td>$5</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Pending for Payment</td>
        <td>$10</td>
      </tr>
    </tbody>
</table><br>
<div class="fill-in">
    <form action="function.py" method="post">
        <label for="orderID">Order ID</label>
        <select name="orderID" id="orderID">
            <option value="1">1</option>
        </select><br>
        <label for="upload">Upload Document</label>
        <input type="file" id="picture" required> <br>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}

