{% extends "/bootstrap/baseStaff.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2><br>
<div class="fill-in">
    <form>
        <label for="password">Password</label>
        <input type="password" id="password" required> <br>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" required> <br>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}

