{% extends "/bootstrap/baseStaff.html" %}
{% block title %}Personal Information{% endblock %}
{% block content %}
<h2>Edit Personal Information</h2><br>
<div class="fill-in">
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" value="Fiona" required> <br>
        <label for="phoneNum">Phone Number</label>
        <input type="tel" id="phoneNum" value="1234 5678" required> <br>
        <label for="email">Email</label>
        <input type="email" id="email" value="fiona@gmail.com" required> <br>
        <label for="userName">User Name</label>
        <input type="text" id="userName" value="Fiona0830" required> <br>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}

