{% extends "/bootstrap/baseStaff.html" %}
{% block title %}Payment Details{% endblock %}
{% block content %}
<h2>Subscription Details of {% for items in prodName %} {{items.productName}} {% endfor %} {% for cName in cusName %}({{cName.name}}){% endfor %}</h2><br>

<table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product</th>
        <th>Period</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Confirm Date</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for items in data %}
        <tr>
          <td>{{items.subHID}}</td>
          <td>{{items.productName}}</td>
          <td>{{items.subHDay}} Days</td>
          <td>{{items.subHstatus}}</td>
          <td>{{items.subHStart}}</td>
          <td>{{items.subHEnd}}</td>
          <td>{{items.confirmDate}}</td>
          <td>$ {{items.subAmount}}</td>
        </tr>        
      {% endfor %}
    </tbody>
</table>
{% endblock %}
