{% extends "/bootstrap/baseStaff.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Staff Dashboard</h2>
{% for info in user%}
<h4>Hi {{info.name}}, <br> <br>Customer subscription records</h4>
{% endfor %}
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Product</th>
                <th>Subscription End Date</th>
                <th>Remaining</th>
                <th>Extend</th>
                <th>History</th>
            </tr>
        </thead>
        <tbody>    
            {% for items in data %} 
            <tr>
              <td>{{items.userID}}</td>
              <td>{{items.productName}}</td>
              <td>{{items.subEnd}}</td>
              <td>{{items.remaining}} Days</td>
              <td><label class="btn" for="{{items.productName}}.{{items.userID}}">Extend</label></td>
              {% for info in user%}
              <td><a href="/staff/{{info.userID}}/dashboard/{{items.userID}}/{{items.prodID}}"> Details </a></td>
              {% endfor %}
            </tr>        
            {% endfor %}
        </tbody>
    </table>
    {% for items in data %}
    <input class="modal-state" id="{{items.productName}}.{{items.userID}}" type="checkbox" />
    <div class="modal">
        <label class="modal__bg" for="{{items.productName}}.{{items.userID}}"></label>
        <div class="modal__inner">
            <label class="modal__close" for="{{items.productName}}.{{items.userID}}"></label>
            <h2>Route System for {{items.userName}} ({{items.userID}})</h2>
            <div class="fill-in">    
                {% for info in user%}
                <form action="/staff/{{info.userID}}/buy" method="post">
                {% endfor %}
                    <input type="hidden" name="userID" value={{items.userID}}>
                    <input type="hidden" name="prodID" value={{items.prodID}}>
                    <label for="days">Days</label> 
                    <input type="number" name="days" min="1" required /><br>
                    <input type="submit" onclick=confirmFunction() value="Confirm" />
                </form>
            </div>
        </div>
    </div>
    {% endfor %} 
{% endblock %}
